/* 
    Created on : 14/10/2017, 10:21:33
    Author     : Renan
*/

/* MENU - Nav */
nav li{
  padding: 0px 10px;
}
nav li a{
  color: #1a1a1a;
  font-size: 18px;
  transition: all .3s ease-in-out;
}
nav li a:hover{
  color: #333333;
  text-shadow: 1px 1px 10px rgba(51, 51, 51, 1);
  transition: all .3s ease-in;
}
.transparent{
  background: transparent;
  transition: all .5s ease-in;
}
.nav-flat{
  background: rgba(255, 255, 255, 0.6);
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.img-brand{
  max-height: 50px;
  transition: max-height .5s ease-in-out;
}
.new-brand{
  max-height: 40px;
  transition: max-height .5s ease-in-out;
}

/* FOOTER*/
#footer{
  width: 100%;
  position:relative;
  bottom:0;
  background: #1a1a1a ;
  color: #fff;
  font-size: 14px;
  padding: 40px 0;
  width: 100%;
  text-align: center;

}
#footer p{
  margin: 0px;
  color: #f2f2f2;
}